<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Search Filter DMuliyati</title>
</head>

<body>
    <div id="app">
        <input type="text" name="search" placeholder="Masukkan kata kunci" v-model="searchParam">
        <ul>
            <li v-for="book in booksFiltered">{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linear Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                searchParam: ""
            },
            computed: {
                booksFiltered() {
					let arrBooks = this.books.filter((item) => {
						if ((item.toLowerCase().indexOf(this.searchParam.toLowerCase()) != -1)) {
							return item
						}
					})
					return arrBooks
                }
            }
        })
    </script>
</body>
</html>