<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a: ' + suma }}</h1>
    <h1>{{ 'Nilai Rata-rata: ' + meana }}</h1>
  </div>
  
  
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        suma : 0,
        meana :0,
      },
      methods : {
          openForm : function(){
            let array = [];
            for(let count = 0; count <10;){
              this.a = prompt("Masukkan nilai a: ")
              array.push(this.a);
              count = parseInt(this.a) + parseInt(count);
              this.suma = count;
            }

            console.log(array);//cek input dan hitungannya di console
            this.meana = parseFloat(this.suma/array.length)             
          }
      }
  })
  </script>
</body>
</html>