<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz-5 Dmuliyati</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
  <form v-on:submit.prevent="addNewUser" v-on:edit="users.editUser(index)">
    <input
      v-model="newUser"
      id="new-user"
      placeholder="tambahkan user"
    >
    <button>Add</button>
  </form>
  <ul>
    <li
      is="user-item"
      v-for="(user, index) in users"
      v-bind:key="user.id"
      v-bind:name="user.name"
      v-on:remove="users.splice(index, 1)"
    ></li>
  </ul>
</div>

<script>
Vue.component('user-item', {
  template: '\
    <li>\
      {{ name }}\
      <button v-on:click="$emit(\'edit\')">Edit</button>||\
      <button v-on:click="$emit(\'remove\')">Delete</button>\
      <br><br>\
    </li>\
  ',
  props: ['name']
})

new Vue({
  el: '#app',
  data: {
    newUser: '',
    users: [
      {
        id: 1,
        name: 'Muhammad Iqbal Mubarok',
      },
      {
        id: 2,
        name: 'Ruby Purwanti',
      },
      {
        id: 3,
        name: 'Faqih Muhammad'
      }
    ],
    nextUserId: 4
  },
  methods: {
    addNewUser: function () {
      this.users.push({
        id: this.nextUserId++,
        name: this.newUser
      })
      this.newUser = ''
    },
    editUser: function (index){
      this.user = this.users[index].name;
      this.newUser = user;
    }
    
  }
})
</script>        
</body>
</html>